@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}


/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* ----------------------------------- */
/* ----------------------------------- */
:root {
  --primary: #25282A;
  --accent-1: #9E2A2B;
  --accent-2: #9EC6C6;
  --accent-3: #CDC4A4;
  /* --bkg: #f4f3ec; */
  --bkg: #F6F5F2;
  --max-width: 80rem;
}

body {
  background-color: var(--bkg);
}

h1,
h2,
h3,
h4,
h4,
h5,
h6 {
  font-family: "Baskerville", serif;
  font-weight: 400;
  color: var(--primary);
}

h1 {
  font-size: 48px;
  line-height: 1;
}

h2 {
  font-size: 32px;
  line-height: 1.2;
}

h3 {
  font-size: 28px;
  line-height: 1.5;
  margin-bottom: 0.5rem;
}

p {
  font-family: "Helvetica", "Arial", sans-serif;
  /* font-family: "Baskerville", serif; */
  font-optical-sizing: auto;
  color: var(--primary);
  line-height: 2;
}

a {
  color: var(--primary);
  opacity: 0.7;
  text-underline-offset: 4px;
  transition: opacity 0.3s ease;
}

a:hover {
  opacity: 1;
  color: black;
}

#mobile-nav {
  transition: all 0.5s ease;
  position: fixed;
  padding: 1rem;
  bottom: 0;
  left: 0;
  border-top-right-radius: 5px;
  display: none;
  border-right: 1px solid var(--primary);
  border-top: 1px solid var(--primary);
  background-color: var(--primary);
  box-shadow: 5px 5px 20px #0002;
}

#mobile-nav * {
  color: white;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  background-color: var(--bkg);
  border-bottom: 1px solid var(--primary);
  z-index: 100;
}

#mobile-nav-items {
  display: none;
  padding: 1rem 2rem;
}

nav a,
#mobile-nav-items a {
  font-size: 1rem;
  letter-spacing: 0.1em;
  transition: color 0.3s ease;
  opacity: 1.0;
  text-decoration: none;
}

#mobile-nav-items p {
  padding: 0.5rem 0;
}

nav a:hover {
  color: var(--accent-1);
}

nav p {
  padding: 1rem;
}

nav p.logo,
#mobile-nav-items p.logo {
  font-family: "Baskerville", serif;
  letter-spacing: -0.1em;
  font-size: 2rem;
  padding-right: 2rem;
  padding-bottom: 0;
  padding-top: 0;
}

#mobile-nav-items p.logo {
  border-bottom: 1px solid #aaa;
}

nav div.nav-left,
nav div.nav-right {
  display: flex;
  align-items: center;
}

nav div.nav-right {
  background-color: var(--primary);
}

nav div.nav-right a {
  color: var(--bkg);
  opacity: 1;
}

nav div.nav-right p {
  padding-left: 2rem;
  padding-right: 2rem;
}

section.hero {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

section.hero img.bkg {
  width: 100%;
}

#title {
  max-width: 60rem;
  margin: 1rem auto;
  padding: 0 1rem;
  margin-top: 5rem;
}

#title h1 {
  text-wrap: balance;
  font-size: 6rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  max-width: 50rem;
}

#title p {
  font-size: 1.2rem;
  line-height: 2;
}

header {
  /* background-color: var(--primary); */
  margin-bottom: 1rem;
}

header h1 {
  font-size: 4rem;
  /* color: var(--bkg); */
  padding: 1rem 0;
  line-height: 1;
}

header h2 {
  line-height: 1.6;
  padding-top: 1.5rem;
}

section div.section-inner {
  max-width: var(--max-width);
  margin: 4rem auto;
}

section {
  padding: 4rem 1rem;
}

section div.cards {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
}

section div.cards-4 {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

section div.cards-3 {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
}

div.cards .card {
  /* border: 1px solid var(--primary); */
  /* border-radius: 1rem; */
}

.flex {
  display: flex;
  align-items: center;
}

div.col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

div.col-23 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
}

.card div.inner {
  margin: 1rem;
}

.card div.text h1 {
  text-wrap: balance;
  /* height: 8rem; */
  font-size: 2rem;
  padding-bottom: 1rem;
  line-height: 1.2;
  color: var(primary);
  /* font-weight: 500; */
}

.card div.text h2 {
  text-wrap: balance;
  /* height: 8rem; */
  font-size: 1.5rem;
  padding-bottom: 1rem;
  color: var(primary);
  /* font-weight: 500; */
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  height: 50vh
}

footer div.footer-inner {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

footer p {
  color: var(--bkg);
  opacity: 0.7;
}

table th,
table td {
  font-family: "arial", sans-serif;
  padding: 0.25rem 2rem;
}

table {
  border: 1px solid var(--primary);
  border-radius: 6px;
  padding: 1rem 0;
}

thead th {
  margin-bottom: 1rem;
}

tbody tr:first-child td {
  padding-top: 1rem;
}

th {
  border-bottom: 1px solid black;
  padding-bottom: 1rem;
}

.yes {
  color: dodgerblue;
  /* color: green; */
}

.no {
  /* color: var(--accent-1); */
  color: crimson;
}

img.person {
  border-radius: 100%;
  width: 75%;
  margin: 0 auto;
}

section.dark {
  background-color: var(--primary);
}

section.dark * {
  color: var(--bkg);
}

label {
  font-family: "arial", sans;
  font-weight: 300;
  color: var(--primary);
  display: block;
}

input[type="text"],
input[type="email"] {
  font-size: 1.2rem;
  width: 100%;
  background: none;
  font-family: "arial", sans;
  font-weight: 300;
  color: var(--primary);
  border: none;
  border-bottom: 1px solid #3333;
  padding: 0;
  padding-bottom: 0.5rem;
  padding-top: 1rem;
  margin-bottom: 2rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  transition: all 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus {
  border: none;
  border-bottom: 1px solid var(--primary);
}

button {
  font-family: "arial", sans;
  font-weight: 300;
  border: 2px solid var(--primary);
  width: 10rem;
  text-align: center;
  padding: 0rem 2rem;
  border-radius: 1rem;
  background-color: #fff0;
  transition: all 0.3s ease;
  margin: 0 auto;
  font-size: 1.2rem;
  color: var(--primary);
  padding: 1rem;
}

button:hover {
  background-color: #fff8;
}

@media screen and (max-width: 1000px) {

  section div.cards,
  section div.col-2,
  section div.col-23,
  section div.cards-4,
  section div.cards-3,
  .flex {
    display: flex;
    flex-direction: column;
  }

  section div.cards.reverse,
  section div.col-2.reverse,
  section div.col-23.reverse,
  section div.cards-4.reverse,
  section div.cards-3.reverse,
  .flex.reverse {
    display: flex;
    flex-direction: column-reverse;
  }

  section.hero {
    min-height: 100vh;
  }

  section {
    padding: 1rem;
  }

  #title h1 {
    font-size: 4rem;
  }

  #title p {
    font-size: 1rem;
  }

  nav {
    display: none;
  }

  nav a,
  #mobile-nav-items a {
    font-size: 1rem;
    letter-spacing: 0;
  }

  nav p,
  #movile-nav-items p {
    padding: 1rem 0.5rem;
    margin: 0;
  }

  nav p.logo {
    padding-left: 1rem;
  }

  nav div.nav-right p {
    padding: 1rem;
  }

  #title {
    margin-top: 0;
  }

  #logo {
    display: none;
  }

  header h1 {
    font-size: 2.5rem;
  }

  table th,
  table td {
    padding: 0.25rem 0.5rem;
  }

  #mobile-nav {
    z-index: 100;
    display: block;
  }

  table {
    margin: 0 auto;
  }
}